In [1]:
import pandas as pd
import numpy as np

In [15]:
mydataset = {
  'CarsBrand': ["BMW", "Volvo", "Ford", "Nissan"],
  'NumberOfCustomers': [3, 7, 2, 6]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

  CarsBrand  NumberOfCustomers
0       BMW                  3
1     Volvo                  7
2      Ford                  2
3    Nissan                  6

In [16]:
print(pd.__version__) #to check the the pandas version on my pc.

1.0.5

In [18]:
#acessing the values in dataframe columnwise
myvar['CarsBrand']

0       BMW
1     Volvo
2      Ford
3    Nissan
Name: CarsBrand, dtype: object

## Series in pandas

In [19]:
a = [1, 7, 2] #A Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type.

myvar1 = pd.Series(a)

print(myvar1)

0    1
1    7
2    2
dtype: int64

In [20]:
 # labels in python, we use the index module in labelling series in data science.
a = [1, 7, 2]
myvar2 = pd.Series(a, index = ["x", "y", "z"])
myvar2

x    1
y    7
z    2
dtype: int64

In [21]:
# access the values
print(myvar2["y"])

7

## pandas dataFrame, a two dimensiuonal data stracture, i.e rows and columns

In [42]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data,columns=['calories','duration','time'])
print(df)

   calories  duration time
0       420        50  NaN
1       380        40  NaN
2       390        45  NaN

## refer to the row index: using loc to identify specific raw

In [43]:
 print(df.loc[0]) # to get the first row.#df.iloc[0] have same outcome

calories    420
duration     50
time        NaN
Name: 0, dtype: object

In [45]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration time
0       420        50  NaN
1       380        40  NaN

In [52]:
from pandas import Series #manipulating dataframe using assignment operator
time_in_years =Series([12,34,45])
df.time=time_in_years
df

   calories  duration  time
0       420        50    12
1       380        40    34
2       390        45    45

In [63]:
import numpy as np
data_12=pd.DataFrame(np.arange(16).reshape((4,4)),index=[1,2,3,4],
                columns=['bananas','cake','bread','mangoes'])
data_12

   bananas  cake  bread  mangoes
1        0     1      2        3
2        4     5      6        7
3        8     9     10       11
4       12    13     14       15

In [64]:
data_12.reindex([4,3,2,1])

   bananas  cake  bread  mangoes
4       12    13     14       15
3        8     9     10       11
2        4     5      6        7
1        0     1      2        3

In [65]:
 data_12.reindex(columns=['mangoes','bread','bananas','cake'])

   mangoes  bread  bananas  cake
1        3      2        0     1
2        7      6        4     5
3       11     10        8     9
4       15     14       12    13

In [66]:
# create a series from a dictionary
d= {'a':233,'b':455,'c':899}
d =pd.Series(d)
d

a    233
b    455
c    899
dtype: int64

In [55]:
d['a']

233